body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background-color: #ff0000;
    border-color: rgb(255, 0, 140);
    border-radius: 30px;
  }
  
  textarea, input, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  button {
    color: white;
    background-color: black;
  }
  
  #redactedText {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    word-wrap: break-word;
  }
  